$white = #fff;
$gray = #aaa;
$gray-light = #e6e6e6;
$gray-lighter = #f5f5f5;
$gray-dark = #777;
$blue = #09f;
$blue-light = aliceblue;

$warning = #ffbf00;
$error = #C00;

$brand = #0976b5;
$brand-bg = #f2f0ec;
$brand-fg = #4a4a4a;

$brand-active = #0775b5;
$brand-happy = #62ae10;
$brand-angry = #da2300;
$brand-dull = #edede5;
$brand-duller = #c1bcbc;

$btn-bg = transparent;
$btn-fg = $brand;
$btn-border = $brand;

$btn-prim-bg = $brand;
$btn-prim-fg = #fff;

$btn-hover-fg = #fff;
$btn-hover-bg = #319cdb;

$btn-inactive-fg = #a9a9a9;
$btn-inactive-bg = #d6d6d6;

$btn-success-fg = #fff;
$btn-success-bg = $brand-happy;

$btn-warning-bg = darken($warning, 3);

$btn-error-fg = #fff;
$btn-error-bg = $brand-angry;

$link-fg = $brand;
$link-hover-fg = $btn-hover-bg;
$link-inactive-fg = $btn-hover-fg;

$accordion-bg = #fff;
$accordion-title-fg = #333;
$accordion-title-bg = $brand-bg;
$accordion-title-icon = $btn-inactive-fg;

$scrollbar-track-bg = #f8f8f8;

$table-body-bg = #fff;

$tooltip-border = $brand-dull;
$tooltip-shadow = 0 2px 22px rgba(0, 0, 0, .2);
$tooltip-bg = #fff;

$btn-close-shadow = 0 1px 2px rgba(0, 0, 0, .4);

$context-menu-border = $brand-dull;
$context-menu-bg = #fff;
$context-menu-active-bg = #f6f5f2;

$status-message-fg = $btn-inactive-fg;
$status-message-error-fg = $brand-angry;

$drop-allowed = rgba(125, 179, 210, .22);
$drop-over-bg = #cd5c5c;

$image-pic-bg = #f8f8f8;

$text-disabled-color = lighten($brand-fg, 15);
$icon-warning-color = darken($warning, 3);
