// Layout
$min-width = 1000px;
$max-width = 1400px;

$helicopter-aside-width = 160px;

// Buttons
$btn-font-size = 1rem;
$btn-v-padding = 12px;
$btn-h-padding = 28px;

$btn-large-v-padding = 25px;
$btn-large-h-padding = 44px;

$btn-ico-size = round($btn-font-size * 1.618);

$btn-border-radius = 2px;

// Element
$element-label-width = 16%;
$element-fixed-label-width = 50px;
$element-sep-width = 15px;

$footer-height = 70px;

$article-top-padding = 25px;
$article-left-padding = 20px;
$article-right-padding = 35px;

$checkbox-font-size = .8rem;
$checkbox-line-height = 1rem;
$checkbox-svg-size = .8rem;

$tooltip-border-radius = 3px;
$tooltip-transition = all .2s ease-in-out;
